datacube
fsspec
geopandas
numpy
python-geohash
rioxarray
rasterstats
s3fs
boto3
pytest
rtree
flake8
moto[sqs]
--extra-index-url https://packages.dea.ga.gov.au
git+https://github.com/GeoscienceAustralia/dea-notebooks.git#subdirectory=Tools
